 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

#header {
    background: rgb(34, 40, 49);
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-list .nav-item {
    display: inline-block;
    padding: 0 20px;
}

.nav-item .nav-a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 1px;
}

.header-content {
    color: white;
    padding: 40px 0;
}

.header-content .header-h1 {
    font-size: 70px;
    font-weight: 600px;
    font-style: normal;
    letter-spacing: 7px;
}

.header-content .header-h3 {
    font-size: 25px;
    font-weight: 300px;
    font-style: normal;
    letter-spacing: 2px;
    margin: 10px 0;
}

.header-content .header-p {
    font-size: small;
    width: 40%;
    margin: 10px 0;
    letter-spacing: 1px;

}

.header-button {
    font-size: medium;
    background: rgb(13, 241, 241);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 800px
}

.header-img{
    position: absolute;
    bottom: 0;
    right: 0;
}